@model OrderViewModel

@{
    ViewBag.Title = "Create Order";
}

<h1>Create Order</h1>

<div class="row">
    @foreach (Product product in @Model.Products)
    {
        <div class="col-md-4 my-2">
            <form asp-action="AddItem" method="post" onsubmit="return validateQuantity(this);">
                <div class="card" style="width: 18rem;">
                    <img src="@Url.Content("~/images/" + product?.ImageUrl)" class="card-img-top fixed-image-height" alt="@product.Description">
                    <div class="card-body">
                        @product.Name - @product.Price.ToString("C")
                        <input type="hidden" value="@product.ProductId" name="prodId" />
                        <input type="number" name="prodQty" class="form-control" min="1" />
                        <button class="btn btn-primary m-2" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>

<script>
    function validateQuantity(form) {
        const quantityInput = form.querySelector('[name="prodQty"]');
        const quantity = parseInt(quantityInput.value, 10);

        if (isNaN(quantity) || quantity <= 0) {
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }
</script>
